<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | National Ice Hockey Cup</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(bg1.jpg);
      }

      h1 {
        color: #fff;
        text-align: center;
        padding-top: 10px;
        word-wrap: break-word;
        white-space: normal;

        font-size: 2em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
      }
      .main-img {
        text-align: center;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        display: flex;
      }
      .write-up {
        color: #fff;
        max-width: 800px;
        display: flex;
        margin: 0 auto 50px auto;
      }

      @media screen {
        .write-up {
          padding: 0 20px;
        }
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>

    <h1>Welcome to NIHC League</h1>
    <img class="main-img" src="cuplogo.png" alt="league badge" />
    <div class="write-up">
      <p>
        Welcome to the club, new players and teams! We are thrilled to have you
        join our growing community of passionate ice hockey enthusiasts. This
        year, we are excited to welcome five new teams to our roster, each
        bringing their own unique skills and competitive spirits.<br />
        <br />
        To the Manchester Carnage, Manchester Maple Hawks, Lancashire
        North-stars, Northern Whalers, and Widnes Ice Hogs, we extend a warm and
        enthusiastic welcome. We believe that diversity is what makes our club
        thrive, and your presence will undoubtedly add to the excitement and
        camaraderie on and off the ice.<br />
        <br />
        We understand that starting afresh can be both exhilarating and
        nerve-wracking, but rest assured that our club is more than just a team
        or a league - it is a tight-knit family that supports and uplifts one
        another. Our experienced players are always ready to lend a helping
        hand, and our dedicated coaching staff is committed to nurturing your
        skills, helping you reach new heights in your hockey journey.<br />
        <br />
        Whether you are a seasoned player, a rookie stepping onto the ice for
        the first time, or somewhere in between, we want you to know that this
        club is a place where everyone is welcome and encouraged to pursue their
        passion. We value sportsmanship, fair play, and team spirit, and we
        trust that you will embody these principles throughout your time with
        us.<br />
        <br />
        The journey ahead will be filled with thrilling games, challenging
        practices, and countless memorable moments. Embrace every opportunity to
        learn, grow, and create lasting bonds with your teammates and fellow
        club members. Cherish the joy of victory, the resilience in defeat, and
        the friendships forged within this hockey community.<br />
        <br />
        Once again, welcome to our club! We look forward to an incredible season
        ahead, where we will write new chapters of achievement, forge
        unforgettable memories, and support one another as we chase our dreams
        on the ice. Let the games begin!<br />
        Sincerely, <br /><br />
        Paul Garvin <br /><br />
        NIHC Club Founder
      </p>
    </div>
  </body>
</html>
